
.contact-me {
    margin-top: 7rem;
}

.propic {
    display: block;
    margin: 2em auto;
    margin-bottom: 3em;
    width: 40%;
    height: 40%;
    border-radius: 25%;
    position: relative;
    z-index: 2;
}

.panel h1 {
    text-align: center;
}

.social {
    text-align: center;
    font-size: 2.5em;
    color: #555;
    overflow: hidden;
}
.social a {
    color: inherit;
    text-decoration: none;
}
.social i {
    margin: .3em;
    cursor: pointer;
    transition: color 300ms ease, margin-top 300ms ease;
    transform: translateZ(0);
}
.social i:hover {
    margin-top: -1px;
}

.social i#github:hover {
    color: black;
}
.social i#linkedin:hover {
    color: #0177B5;
}
.social i#code:hover {
    color: #29A329;
}
.social i#stack:hover {
    color: #ED780E;
}
.social i#mail:hover {
    color: #F7B401;
}

.social i#instagram:hover {
    color: #cd486b;
}

.social i#facebook:hover {
    color: #3b5998;
}