
i {
	height: auto; 
    width: auto; 
    max-width: 50px; 
    max-height: 50px;
}

#name {
	font-family: 'Amatic SC', cursive;
    font-size: 60px;
}

a {
	text-decoration: none;
}

.freelist {
	list-style-type: none;
}

.container {
    position: relative;
    text-align: center;
    font-family: 'PT Sans';
    width: 100%;
    margin: 0 auto;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.panel {
	display: block;
}

.work {
    display: block;
}

