html, body { 
    height: 100%; margin: 0; overflow: hidden; 
}

.container { 
    padding-bottom: 11%;
    padding-top: 62.5%;
     position: absolute; 
     width: 100%; 
     bottom: 0;
      left: 0; 
}
.container.active { cursor: ew-resize; }

img { 
    position: absolute; transform-style: preserve-3d; 
}

.main { 
    left: 80px; top: 230px; transform-origin: 50% 50%; transform: rotateZ(0deg);
 }

 .background { 
     position: absolute; left: 0; width: 100%; 
     z-index: -1;
    }

.cloud-bg { 
    z-index: 1;
    bottom: 33%; width: 70%; right: 100%;
}
.cloud-bg2 { 
    z-index: -100;
    bottom: 30%; width: 50%; right: 100%; 
}

.cloud-bg3 { 
    z-index: 1;
    bottom: 27%; width: 60%; right: 100%; 
}

.cloud-bg4 { 
    z-index: -100;
    bottom: 37%; width: 100%; right: 100%; 
}

.cloud-bg5 { 
    z-index: -100;
    bottom: 27%; width: 400%; right: 100%; 
}

.cloud-shadow1 { 
    bottom: 43%; 
    right: 100%; 
    width: 80%; 
    transform: rotate(5deg); 
}


.raindrop {
    z-index: -1;
    width: 3rem;
    bottom: 30%;
}

.rain-1 {
    right: 80%;
}
.rain-2 {
    right: 82%;
}
.rain-3 {
    right: 84%;
}
.rain-4 {
    right: 85%;
}
.rain-5 {
    right: 86%;
}
.rain-6 {
    right: 87%;
}

.control-toggle { 
    position: absolute; top: 0; left: 0; padding: 10px 20px; background: rgba(255,255,255,1); font-family: sans-serif; text-transform: uppercase; font-size: 10px; letter-spacing: 0.05em; opacity: 0.1; cursor: pointer; 
}
.control-toggle:hover { 
    opacity: 1.0;
}

.load-gate { 
    position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: #fff; font-family: sans-serif; text-transform: uppercase; font-size: 10px; letter-spacing: 0.2em; padding: 20px; 
}







